.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-size: 100px;

}
#register{
    text-decoration: none;
}
input {
    width: 300px;      /* increase width */
    height: 45px;      /* increase height */
    font-size: 16px;   /* increase text size */
    padding: 10px;
}

#username, #password {
    margin-bottom: 20px;
    border: solid 1px #ccc;
    border-radius: 10; /* add space between input fields */
}